<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql:///test</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="show_sql">true</property>
  <property name="format_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
  <mapping resource="org/logistics/bean/Ddinfo.hbm.xml"/>
  <mapping resource="org/logistics/bean/Inputinfo.hbm.xml"/>
  <mapping resource="org/logistics/bean/Kcinfo.hbm.xml"/>
  <mapping resource="org/logistics/bean/Khinfo.hbm.xml"/>
  <mapping resource="org/logistics/bean/Khorder.hbm.xml"/>
  <mapping resource="org/logistics/bean/Outputinfo.hbm.xml"/>
  <mapping resource="org/logistics/bean/Shouhouren.hbm.xml"/>
  <mapping resource="org/logistics/bean/Wlbumen.hbm.xml"/>
  <mapping resource="org/logistics/bean/Wlrenshi.hbm.xml"/>
  <mapping resource="org/logistics/bean/Wluser.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
